.part1{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:1px;
}
.part2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:12px;
    padding-top: 12px;;
}
.addcontent{
    display: flex;
    padding-left: 1rem;
    justify-content: center;
    gap:11rem;

}
.add_mainlayout{
    margin-left:25rem ;
    margin-top: 7rem;
    margin-right:25rem ;
    background-color: whitesmoke;
     border:2px solid black;
     border-radius: 1rem;
     opacity: 0.8;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.innerlayout{
    display: flex;
     flex-direction: column;
     align-items: center;
}
h1{
    text-align: center;
}
.dsubmit{
    text-align: center; 
    padding-bottom: 1rem;
    padding-top:1rem;
}
.email{
    position: relative;
}
.App-logo1{
    width:10rem;
  height:5rem;
    margin-left: 10rem;
    margin-top:1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
textarea::placeholder {
    text-align:right;
    position:fixed;
    bottom: 0px;
    right:4px;
  }
  
.erroremail{
    color:red;
    font-size: xx-small;
}
.emailfield{
    display: flex;
    justify-content: flex-start;
    gap: inherit;
}